body{
    margin: 0;
}
.dm_container{
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.user_select{
    margin: 0 auto;
    width: 30%;
    min-width: fit-content;
    height: 100%;
    background-color: aliceblue;
    /* box-shadow: 0px 0px 3px #000; */
}
.chat_box{
    margin: 0 auto;
    width: 100%;
    min-width: fit-content;
    height: 100%;
    background-color: aliceblue;
    box-shadow: 0px 0px 1px #000;
    /* box-shadow: 0px 0px 3px #000; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "chat_box_left chat_box_right" "chat_box_left chat_box_right"; */
}
.chat_list{
    margin: 0 auto;
    width: 100%;
    height: 95%;
    overflow: scroll;
    background-color: aliceblue;
}
.chat_input{
    height: 5%;
    box-shadow: 0px 0px 1px #000;
    color: white;
}
.chat_input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000;
    font-size: 15px;
}
.chat_input input:focus{
    outline: none;
    font-weight: bold;
}
.chat_box input::placeholder{
    color: #000;
}
.user_box{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: aliceblue;
    align-items: center;
}
.user_box:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}
.user_pr_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    margin: 10px;
}
.user_pr_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.chat_user_pr_info{
    margin-left: 10px;
    width: calc(100% - 50px);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 12px;
    justify-content: center;
}
.chat_user_id{
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
.target_user{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #e6e6e6;
    width: fit-content;
    max-width: 50%;
    height: fit-content;
    border-radius: 10px;
    margin: 15px;
}
.target_user_id{
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
.target_user_chat{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.my_user{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    margin-left: auto;
}
.my_user_id{
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
.my_user_chat{
    display: flex;
    flex-direction: column;
    padding: 10px;
}