body,
p,
h1 {
    margin: 0;
    /* overflow-x: hidden; */
}
h2,h3,h4{
    margin: 0;
}
body {
    background-color: #C4D7E0;
}

.body_scroll_stop {
    overflow: hidden;
    touch-action: none;
}

::-webkit-scrollbar {
    display: none;
}

.main_screen {
    width: 100vw;
}

.navbar {
    background: #C4D7E0;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    margin-bottom: 30px;
    z-index: 1;
    /* overflow: hidden; */
}

.logo {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.serch {
    position: relative;
}

.serch input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    padding: 0 10px;
}

.serch input:focus {
    outline: none;
}

.serch_button {
    width: 50px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 20px; */
}

.alarm{
    position: relative;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.user_name{
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #e7e7e7;
}
.history{
    width: 250px;
    height: fit-content;
    max-height: 600px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: -80px;
    top: 40px;
    z-index: 2;
    color: #000;
    font-size: 10px;
    box-shadow: 0px 0px 5px rgba(254, 114, 114, 0.438);
    animation: reveal 0.5s ease-in-out;
    display: none;
}
.user_profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.user_profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.logout {
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #ff0000;
}

.left_menu {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    margin: 30px;
    width: 150px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
    left: 0;
}

.left_menu div {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.menu_dog {
    display: flex;
    flex-direction: column;
}

.menu_dog img {
    width: 30px;
    height: 30px;
}

.menu_cat {
    display: flex;
    flex-direction: column;
}

.menu_cat img {
    width: 30px;
    height: 30px;
}

.menu_petshop {

    display: flex;
    flex-direction: column;
}

.menu_petshop img {
    width: 30px;
    height: 30px;
}

.menu_upload {
    display: flex;
    flex-direction: column;
}

.menu_upload img {
    width: 30px;
    height: 30px;
}

.top_section {
    width: 100vw;
    display: flex;
}

.right_section {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
}

.top_title {
    margin: 0 20px;
    font-size: 20px;
}

.top_article {
    position: relative;
    flex-shrink: 0;
    display: flex;
    margin: 30px;
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    /* scrollbar-width: none; Firefox */
}

.scroll_button {
    display: flex;
    justify-content: center;
}

.scroll_button div {
    background-color: #000;
    color: white;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.top_article::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
}

.top_article_list {
    margin: 0 20px;
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.top_article_info {
    width: 90%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.article_like_info {
    display: flex;
    margin: 0px 0px 12px 0px;
}
.article_like_info div:nth-child(1){
    margin: 0px 3px 0px 0px;
    font-size: 12px;
    border-radius: 9px;
    background-color: rgb(255, 65, 65);
    color: white;
    padding: 3px 10px;
}
.article_like_info div:nth-child(2){
    margin: 0px 3px 0px 0px;
    font-size: 12px;
    border-radius: 9px;
    background-color: #000;
    color: white;
    padding: 3px 10px;
}

.top_article_info div:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    margin-top: 10px;
    max-height: 150px;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
}

.top_article_list img {
    margin: 20px;
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.top_article_info div:nth-child(2) {
    display: flex;
    align-items: center;
}

.top_article_user_name {
    margin: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    display: flex;
    /* align-items: center; */
}

.top_article_info div:nth-child(2) img {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.article_title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 10px;
}

.main_article_list {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
    border: 10px solid #e7e7e7;
    border-style: dotted;
    border-radius: 10px;
}

.article_list_box {
    flex-shrink: 0;
    margin: 30px 40px;
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(5deg);
    background-color: rgb(255, 255, 255);
}

.article_list_like {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: white;
    cursor: pointer;
    display: none;
}

.article_list_like div {
    font-size: 17px;
    font-weight: bold;
    margin: 2px;
}

.article_list_like div span {
    font-size: 17px;
    font-weight: bold;
    margin-left: 7px;
}

.article_list_box img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.modal_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}
.like_user_list{
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 33px;
    left: 10px;
    width: 100px;
    height: fit-content;
    max-height: 80%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e7e7e7;
    animation: fadeintop 0.5s;
    display: none;
}
.like_user_list div{
    margin-bottom: 2px;
}

.like_icon_on {
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: fit-content;
    height: auto;
    color: red;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
}

.like_icon_off {
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: fit-content;
    height: auto;
    font-size: 20px;
    color: red;
    justify-content: center;
    align-items: center;
    display: none;
}

.like_icon_off span {
    font-size: 13px;
    font-weight: bold;
    margin-left: 7px;
    text-align: center;
}

.like_icon_on span {
    font-size: 13px;
    font-weight: bold;
    margin-left: 7px;
    text-align: center;
}

.heart_ani {
    left: calc(35% - 30px);
    bottom: calc(50% + 30px);
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 50px;
    display: none;
    animation: scale150 0.7s;
    color: rgba(255, 0, 0, 0.3);
}

.modal_image_count {
    position: absolute;
    bottom: 15px;
    color: white;
    font-size: 20px;
    background: #000;
    padding: 5px 7px;
    border-radius: 7px;
}

.modal_content {
    position: relative;
    width: 1000px;
    height: 800px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.article_delete {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    display: none;
    color: yellowgreen;
}
.article_edit{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 20px;
    display: none;
    color: yellowgreen;
}
.modal_edit_box{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal_edit_button{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: #000;
    color: white;
}
.modal_edit_cancel{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background: #000;
    color: white;
}
.modal_edit_box_input{
    position: absolute;
    width: 15%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_edit_box textarea{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 12px;
    font-weight: bold;
    color: #545454;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.modal_edit_box textarea:focus{
    outline: none;
}

.modal_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal_user_profile {
    padding: 15px;
    width: 100%;
    height: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.modal_user_profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.modal_username {
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.modal_content_list {
    padding: 15px;
    padding-top: 0px;
}

.modal_content_list div {
    padding: 5px;
    font-size: 14px;
    /* border-bottom: 1px solid #e7e7e7; */
}

.modal_comment_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 7px 0px;
}

.balloon_03 {
    position: relative;
    margin: 1px 25px;
    width: fit-content;
    height: auto;
    background: #EAF6F6;
    border-radius: 10px;
    color: #FF0063;
    font-size: 14px;
    display: flex;
    /* justify-content: center; */
}
.modal_comment_user {
    display: flex;
    width: fit-content + 10px;
    justify-content: flex-end;
    font-size: 10px;
    margin: 2px 0px;
    margin-right: 25px;
    color: green;
    font-weight: bold;
    cursor: pointer;
    font-size:8px;
}
.modal_comment_user div{
    margin: 0px 2px;
}
.modal_comment_user div:nth-child(1){
    font-weight: bold;
    color: #000;
}
.modal_comment_user div:nth-child(2){
    font-weight: bold;
    color: red;
}

.modal_comment_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: scroll;
    height: 100%;
}

.modal_comment_submit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 20px;
    background: rgb(0, 47, 255);
    color: white;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.balloon_03 div {
    padding: 10px
}

.balloon_03:after {
    border-top: 15px solid #EAF6F6;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
}
.slide_right{
    position: absolute;
    top: calc(50% - 30px);
    right: calc(30% + 10px);
    width: 30px;
    height: 30px;
    color: white;
    /* color: rgba(0,0,0,0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* display: none; */
    /* z-index: 999999999; */
}
.slide_left{
    position: absolute;
    top: calc(50% - 30px);
    left: 10px;
    width: 30px;
    height: 30px;
    color: white;
    /* color: rgba(0,0,0,0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    /* display: none; */
    /* z-index: 999999999; */
}
.modal_img_box{
    width: 70%;
    height: 100%;
}

.modal_comment_input {
    margin: 0 auto;
    width: 98%;
    height: auto;
    padding: 10px 1%;
    border-top: 3px dotted #d9d9d9;
    display: flex;
    /* border-radius: 10px; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal_comment_input textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.modal_desc {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.modal_info_btn {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 40px;
    background: #000;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    top: 10px;
    right: 10px;
    /* display: none; */
}

.modal_close {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 40px;
    background: #000;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    top: 10px;
    right: 10px;
    display: none;
}

.modal_profile {
    top: 10px;
    left: 10px;
    position: absolute;
    display: flex;
    align-items: center;
}

.modal_profile img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #e7e7e7 solid 5px;
}

.modal_profile_account {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.modal_like {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.upload_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}
.upload_modal_box {
    position: relative;
    width: 800px;
    height: 700px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pet_profile_select{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

input[type=radio] {
    display: none;
}
input[type=radio] + label {
    position: relative;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 4px solid rgba(0, 0, 0, 0.0);
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    color : rgba(0, 0, 0, 0.0)
}
input[type=radio] + label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input[type=radio] + label div{
   position: absolute;
   font-weight: bold;
   font-size: 50px;
}
input[type=radio]:checked + label {
    color: #FF0063;
    border: 4px solid #FF0063;
    
}
input[type=radio]:checked + label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pet_name{
    position: absolute;
    bottom: 0;
    right: 0;
    color:white;
    background: #000;
    font-size: 13px;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 5px;
}

.upload_modal_btn {
    display: flex;
    align-items: center;
    color: red;
    font-size: 50px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    /* display: none; */
}

.upload_submit_button {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    color: red;
    font-size: 50px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: none;
    z-index: 30;
}

.upload_submit_button i {
    margin: 5px;
    z-index: 10;
}

.preview_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.preview_multi_img {
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
    /* IE and Edge */
    /* scrollbar-width: none;  */
    /* Firefox */
}

.preview_multi_img img {
    width: 80%;
    height: 100px;
    padding: 5px;
    margin-top: 10px;
    object-fit: cover;
    border: 3px solid #e7e7e7;
    /* border-style: dotted; */
    border-radius: 10px;
}

.upload_model_content {
    width: 20%;
    margin-left: 5px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: scroll;
    animation: fadeinleft 0.5s;
    display: none;
}

.upload_model_content textarea {
    width: 95%;
    margin-top: 10px;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    overflow: scroll;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    -ms-overflow-style: none;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
}

.load_img {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99999;

}
.load_img img {
    width: 200px;
    height: 200px;
    animation: rotate 0.5s;
}
.follow{
    cursor: pointer;
    margin-left: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: skyblue;
    padding: 3px 10px;
    border-radius: 5px;
}
.login_modal_box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 9999;
}

.login_box{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_box h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.login_box input{
    width: 60%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.login_btn {
    cursor: pointer;
    width: 60%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    background: skyblue;
    color: white;
}
.login_btn button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
}
.kakao_login{
    cursor: pointer;
    width: 60%;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: yellow;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* top transform */
@keyframes fadeintop {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes article_box_hover{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes scale150 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(5);
    }
}

@keyframes fadeinbottom{
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes reveal {
    from { opacity:0; transform:translate3d(0, -5px, 0); }
    to { opacity:1; transform:translate3d(0, 0, 0); }
}
