body {
    margin: 0;
    padding: 0;
    background-color: #C4D7E0;
}
::-webkit-scrollbar { display: none; }
.main_container{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 60%;
    padding: 20px 20px 50px 50px;
    /* border-radius: 8px;     */
    border: 10px solid #e7e7e7;
    border-style: dotted;
}

.left_menu {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    margin: 30px;
    width: 150px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
    left: 0;
}

.left_menu div {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.menu_dog {
    display: flex;
    flex-direction: column;
}

.menu_dog img {
    width: 30px;
    height: 30px;
}

.menu_cat {
    display: flex;
    flex-direction: column;
}

.menu_cat img {
    width: 30px;
    height: 30px;
}

.menu_like {

    display: flex;
    flex-direction: column;
}

.menu_like img {
    width: 30px;
    height: 30px;
}

.menu_upload {
    display: flex;
    flex-direction: column;
}

.menu_upload img {
    width: 30px;
    height: 30px;
}
















.user_container {
    display: flex;
    justify-content: space-between;
}
.user_box {
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 150px;
    padding: 20px;
}
.user_profile {
    display: flex;
}
.user_img_box{
    width: 50px;
    height: 50px;
    margin: 10px;

    border-radius: 50px;
    border: 2px solid #ffffff;
    overflow: hidden;

    background-color: black;
}
.user_img_box img {
    
    width:100%;
    height:100%;
    object-fit:cover
}
.user_id_box {
    display: flex;
    align-items: center;
    margin: 10px;
}
.user_id {
    font-size: 20px;
}
.user_introduction {
    padding-left: 10px;
}
.introduction {
    font-size: 15px;
}
.user_button_box {
    padding: 10px;
    margin-right: 20px;
}
.menu_change_button_box {
    padding: 10px;
}
.menu_change_button_box button {
    font-size: 15px;
}
.show_container {
    display: flex;
}
.show_box {
    width: 100%;
    border-radius: 3px;
}
.article_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius:8px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    min-height:500px;
}
.article_card {
    width: 190px;
    height: 190px;
    margin: 10px;
    border-radius:8px;
    background-color: #D9D9D9;
}
.article_card img {
    object-fit: cover; 
    width:100%; 
    height:100%; 
    border-radius:8px
}
.article_card img:hover{
    transform: scale(1.01);
    transition: transform 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.like_article_box{
    background-color:#6e85b7; 
    width:100%; 
    height:100%;
    display:none; 
    min-height: 500px; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.user_info_box {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user_profile_section {
    margin: 5px;
}
.user_profile_box {
    width: 250px;
    /* height: 400px; */
    padding: 20px;

    border-radius: 8px;
    background-color: #ffffff;
}
.user_profile_item {
    margin: 20px 5px 60px 5px;
}

.user_profile_item p {
    margin: 10px 0 10px 0;
}
.user_profile_item button {
    margin-left: 10px;
    padding: 0;
    
}
.user_profile_item input {
    height: 30px;
    font-size: 15px;
    padding: 0 5px 0 5px;
}
.user_profile_item select {
    height: 30px;
    font-size: 15px;
}
.pet_profile_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 400px;
    margin: 5px;
}
.pet_profile_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 7px;
    height: 210px;

    border-radius: 17px;
    border: 1px solid #9a9a9a;
    background-color: #ffffff;
}
.pet_img {
    width: 160px;
    height: 140px;

    margin: 10px 10px 10px 10px;

    background-color: #9c9b9b;
}
.pet_name {
    display: flex;
    align-items: center;

    margin: 10px auto 15px auto;
}
.pet_name p {
    text-align: center;
    height: 31px;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}
.pet_select_box {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.pet_botton_box {
    margin: 0 0 2px 1px;
    padding: 5px;
    padding-right: 7px;

    background-color: #ffffff;
    border: 1px solid #bab7b7;
    border-radius: 5px;
}
.pet_button {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    cursor: default;

    font-size: 14px;

    width: 25px;
}
.pet_botton_box:hover {
    background-color: #eeecec;

}



/*디테일 모달*/



.modal_box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.modal_image_count {
    position: absolute;
    bottom: 15px;
    color: white;
    font-size: 20px;
    background: #000;
    padding: 5px 7px;
    border-radius: 7px;
}

.modal_content {
    position: relative;
    width: 1000px;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal_content img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.modal_user_profile {
    padding: 15px;
    width: 100%;
    height: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.modal_user_profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.modal_user_profile div {
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.modal_content_list {
    padding: 15px;
    padding-top: 0px;
}

.modal_content_list div {
    padding: 5px;
    font-size: 14px;
    /* border-bottom: 1px solid #e7e7e7; */
}

.modal_comment_text {
    margin: 7px 0px;
}

.balloon_03 {
    position: relative;
    margin: 1px 25px;
    width: fit-content;
    height: auto;
    background: #EAF6F6;
    border-radius: 10px;
    color: #FF0063;
    font-size: 14px;
    display: flex;
    /* justify-content: center; */
}

.modal_comment_user {
    font-size: 10px;
    float: right;
    margin: 0 25px;
}

.modal_comment_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: scroll;
    height: 100%;
}

.modal_comment_submit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 20px;
    background: rgb(0, 47, 255);
    color: white;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.balloon_03 div {
    padding: 10px;
}

.balloon_03:after {
    border-top: 15px solid #EAF6F6;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
}

.modal_comment_input {
    width: 100%;
    height: auto;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
}

.modal_comment_input textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.modal_desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.modal_info_btn {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 40px;
    background: #000;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    top: 10px;
    right: 10px;
    /* display: none; */
}

.modal_close {
    cursor: pointer;
    position: absolute;
    width: 120px;
    height: 40px;
    background: #000;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    top: 10px;
    right: 10px;
    display: none;
}

.modal_profile {
    top: 10px;
    left: 10px;
    position: absolute;
    display: flex;
    align-items: center;
}

.modal_profile img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #e7e7e7 solid 5px;
}

.modal_profile_account {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.modal_like {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
}
