.navbar {
    background: #C4D7E0;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    margin-bottom: 30px;
    z-index: 1;
    /* overflow: hidden; */
}

.logo {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.serch {
    position: relative;
}

.serch input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    padding: 0 10px;
}

.serch input:focus {
    outline: none;
}

.serch_button {
    width: 50px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 20px; */
}

.alarm {
    position: relative;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.user_name {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #e7e7e7;
}

.history {
    width: 250px;
    height: fit-content;
    max-height: 600px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: -80px;
    top: 40px;
    z-index: 2;
    color: #000;
    font-size: 10px;
    box-shadow: 0px 0px 5px rgba(254, 114, 114, 0.438);
    animation: reveal 0.5s ease-in-out;
    /* display: none; */
}

.user_profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.user_profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dm {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.dm img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.logout {
    margin-right: 20px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #ff0000;
}