*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.right_section{
    width:65%;
    margin-left: 50px;
    padding:20px
}
.r_section_title{
    height:50px;
    margin-top: 100px;
    font-size: 1.4rem;
    font-weight: 600;
}

.time_bar{
    background-color: white;
    width:100%; 
    height:15vh;
    border-radius: 8px;
}
/*날짜 캐로셀*/


.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    height: 10vh;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    font-size: 2rem;
    color:#f9f9f9;
    text-align:center;
}

.slide:nth-child(1) {
    background-color: #49b293;
}

.slide:nth-child(2) {
    background-color: #b03532;
}

.slide:nth-child(3) {
    background-color: #6a478f;
    margin: 0;
}

.slide:nth-child(4) {
    background-color: #2bb4da;
}

.slide:nth-child(5) {
    background-color: #49b293;
}

.slide:nth-child(6) {
    background-color: #b03532;
}

.slide:nth-child(7) {
    background-color: #6a478f;
    margin: 0;
}

.slide:nth-child(8) {
    background-color: #da6f2b;
}
.slide:nth-child(9) {
    background-color: #49b293;
}

.slide:nth-child(10) {
    background-color: #b03532;
}

.slide:nth-child(11) {
    background-color: #6a478f;
    margin: 0;
}

.slide:nth-child(12) {
    background-color: #2bb4da;
}
.slide:nth-child(13) {
    background-color: #49b293;
}

.slide:nth-child(14) {
    background-color: #b03532;
}


.neighbor_list{
    background-color: #ffffff; 
    width:100%; 
    min-height:100px;
    margin-top:50px;
    border-radius:8px; 
    padding:15px
}



/*모달*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1000px;
    margin-top: 100px;
    height:602px; /* Could be more or less, depending on screen size */
    border-radius:7px;
}

.modal-head{
    display: flex;
    justify-content: space-between;
}

.m_submit_button{
    margin-bottom: 10px; 
    background-color: black;
    color:white;
    padding:8px;
    border-radius:5px;
}

.m_submit_button:hover{
    transform: scale(1.01);
    transition: transform 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.dropdown button{
    height:32px; 
    width: 120px;
}



















.right_column{
    position: sticky;
    top: 10px;
    left: 0;
}




.n_list {
    /* display: table-cell;
    vertical-align: middle;
    text-align: center; */
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.walk_button {
    background-color: #6e85b7;
    border-radius: 5px;
    text-align: center;
    color:whitesmoke
}

.walk_button:hover{
    background-color: #374c7a;
}
.main_column::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}
.main_column:-webkit-scrollbar-track {
    background-color: grey;
}


/*드롭다운*/


/* Style The Dropdown Button */
.dropbtn {
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    width:100px
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right:30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.m_dropbtn_r{
    background-color: rgb(51, 51, 51);
    border:1px white solid;
    border-radius: 5px;
    color:whitesmoke;
    margin-top:10px;
    margin-bottom:10px;
    
}
.m_dropbtn_r:hover{
    background-color: #808080;
}
.start_map{
    background-color: rgb(51, 51, 51);
    border:1px white solid;
    border-radius: 5px;
    color:whitesmoke;
}
.start_map:hover{
    background-color: #808080;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #374c7a;
}



/*페이지네이션*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 16px; */
    margin-top: 100px;
    
}
.pages {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.page {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page:hover {
    background-color: rgb(51, 51, 51);
    color: #fff;
}

.active {
    background-color: rgb(51, 51, 51);
    color: #fff;
}

.btn {
    background-color: #fff;
    border: 1px solid rgb(51, 51, 51);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    background-color: rgb(51, 51, 51);
}
.btn--icon {
    height: 24px;
    width: 24px;
    stroke: rgb(51, 51, 51);
}
.btn--icon:hover {
    stroke: #fff;
}